---
layout: default
---

<div class="home">
  <p>
    <img src="{{ site.baseurl }}/assets/img/map2.jpg">
  </p>
  <p>This website contains brief tutorials for getting started with regional data-driven weather
  modelling with the Anemoi framework. The content is developed by Håvard Homleid Haugen, Magnus
  Sikora Ingstad, Thomas Nipen, Even Nordhagen, Aram Farhad Salihi, Ivar Seierstad, and Paulina
  Tedesco at MET Norway.
  </p>

  <!--p>
  <h2>CURRENTLY UNDER DEVELOPMENT</h2>
  </p!-->

  <!--h1>Tutorial</h1-->

  <ul class="post-list">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% assign count = 1 %}
    {% for page in sorted_pages %}
    {% if page.title %}
      <li>
        <h2>
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ count }}. {{ page.title }}</a>
        </h2>
      </li>
    {% assign count = count | plus:1 %}
    {% endif %}
    {% endfor %}
  </ul>

  <!--h1>Posts</h1-->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

</div>
